.Drawer {
    display: flex;
    flex-direction: column;
    width: 13vw;
    height: 100vh;
    padding-top: 20px;
    background: white;
    align-items: center;
    color: white;

    .header {
        display: flex;
        margin-bottom: 40px;

        .logo {
            height: 150px;
            width: 150px;
        }
    }

    .wrap-all-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btn-drawer {
            width: 230px;
            display: flex;
            align-items: center;
            background: none;
            color: black;
            margin: -10px -10;
            margin-bottom: 20px;
            font-size: 16px;
            font-weight: 500;
            transition: 0.3s ease-in-out;

            .icon {
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 5px;
            }
        }

        button:hover {
            color: white;
            background: #17894d;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
        }
        .btn-selected {
            color: white;
            background: #17894d;
            border-radius: 10px;
        }
    }


}